/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body styling */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-gap: 10px;
  color: #363636;
}

/* header styling */
header {
  grid-area: header;
  background-color: #EC0006;
}

form {
  display: block;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 36px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

input {
  max-width: 200px;
  border: none;
  border-bottom: 2px solid #FFF;
  background: none;
  color: #FFF;
  font-size: 36px;
  font-family: inherit;
  font-weight: 400;
}

input::placeholder {
  color: #FFF;
  -moz-color: #FFF;
  -ms-color: #FFF;
  font-size: 36px;
  font-family: inherit;
  font-weight: 900;
}

input:focus::placeholder {
  color: transparent;
}

button {
  height: 40px;
  margin-left: 5px;
  border: 2px solid #FFF;
  background: none;
  color: #FFF;
  font-size: 24px;
  font-family: inherit;
  font-weight: 900;
}

button:hover {
  background: #FFF;
  color: #EC0006;
  cursor: pointer;
}

button:focus {
  background: #FFF;
  color: #EC0006;
  cursor: pointer;
}
/* Main Styling */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: 
  "heading"
  "list"  
  "video"
  "lyrics"; 
  justify-items: center;
}

h1 {
  grid-area: heading;
  font-size: 36px;
  margin: 92px 40px 102px 40px;
  text-align: center;
}

.info-heading {
  font-size: 36px;
  margin: 0 40px 102px 40px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

#how-to {
  grid-row: span 3;
}

.info {
  height: 240px;
  width: auto;
  text-align: center;
  color: #FFF;
}

.info-text {
  font-size: 24px;
}

.info h3 {
  padding: 40px 0 0 0;
}

.info p {
  padding: 34px 50px 118px 50px;
}

.red-font{
  color: #EC0006;
}

.red-bg-1 {
  background: #EC0006;
}

.red-bg-2 {
  background: #FF191F;
}

.red-bg-3 {
 background: #B20202;
}
 
.results {
  margin: 0 12.5% 40px 12.5%;
}

.result-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

#results-list > * {
  margin-bottom: 16px;
}

#search-results {
  grid-area: list;
}

.list-item {
  text-decoration: none;
  color: inherit;
}

.list-item:hover {
  color: #FD0000;
}

#player-section {
  grid-area: video;
}

#player-section p {
  margin: 20px 0;
}

#lyrics-section {
  grid-area: lyrics;
}

iframe {
  width: 75vw; 
  height: 42.1875vw; /* 100/56.25 = 560/315 = 1.778 */
  background:#EC0006;  
}

.hidden {
  display: none;
}

/* Footer Styling */
footer {
  grid-area: footer;
  height: 120px;
  margin-top: 78px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

@media only screen and (min-width: 425px) {
  .info-heading {
    margin: 0 0 102px 0;
  }
}

@media only screen and (min-width: 640px) {
  iframe {
    display: block;
    width: 480px;
    height: 270px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* header */
  form {
    margin-left: 200px;
  }

  /* main styling */
  main {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 2fr auto 600px 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    ". heading heading ."
    ". list video ."  
    ". list lyrics ."; 
  }

  h1 {
    grid-column: span 4;
    margin-top: 92px;
    margin-bottom: 102px;
  }

  #how-to {
    grid-column: span 4;
  }

  .info-heading {
    margin-bottom: 102px;
  }

  .info-text {
    display: inline-block;
  }

  .info h3 {
    padding-left: 50px;
  }

  .info p {
    font-size: 22px;
    padding: 103px 50px 113px 10px;
  }

  .results {
    margin: 0 60px 40px 60px;
  }
}