/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Document Styling */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

h2 {
  font-size: 36px;
  /* margin-top: 92px;
  margin-bottom: 102px; */
  margin-top: 10%;
  margin-bottom: 12%;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

/* Header Styling */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

header {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #FD0000;
  height: 100%;
}

form {
  display: block;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 36px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

input {
  max-width: 200px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  font-size: 36px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input::placeholder {
  color: white;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}


/* Main Styling */

main {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#how-to {
  grid-column: span 4;
}

.hidden {
  display: none;
}

.info {
  text-align: center;
  height: 240px;
  width: auto;
  color: white;
}

.info p {
  font-size: 24px;
  padding-top: 84px;
  padding-bottom: 118px;
}

.red-font-1{
  color: #FD0000;
}

.red-bg-1 {
  background: #FD0000;
}

.red-bg-2 {
  background: #FF2823;
}

.red-bg-3 {
 background: #B20202;
}
 
.results {
  margin: 92px 40px 0 40px;
}

#results-list > * {
  margin-bottom: 16px;
}

#results-list li p:hover{
  cursor: pointer;
  color: #FD0000;
}

/* Footer Styling */
footer {
  grid-column: span 4;
  height: 120px;
  margin-top: 78px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
  /* header */
  form {
    margin-left: 200px;
  }
  /* main styling */
  h2 {
    margin-top: 92px;
    margin-bottom: 102px;
  }
  .info p {
    font-size: 24px;
    padding-top: 103px;
    padding-bottom: 113px;
  }
}